<%- include partial/header%>
    <title>PROJECT</title>
  <h1>PROJECT</h1>
  <body>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Project Name</th>
        <th>Project Status</th>
        <th>Option</th>
    <%data.forEach(z=>{%>
      </tr>
        <td><%=z.id%></td>
        <td><%=z.name%></td>
        <td><%=z.status%></td>
        <td>
          <a href="/project/update/<%=z.id%>">EDIT</a>
          <a href="/project/delete/<%=z.id%>">DELETE</a>
        </td>
      <tr>
      <%  })%>
      </tr>
    </table>
    <a class="btn btn-success"href="/project/add">add</a>
    <a class="btn btn-danger"href="/">Home</a>
  </body>
</html>
