<%- include partial/header%>
    <meta charset="utf-8">
    <title>SUPERVISOR</title>
  <h1>SUPERVISOR</h1>
  <body>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th>Supervisor Name</th>
        <th>Supervisor Email</th>
        <th>Assign Project</th>
        <th>Option</th>
    <%data.forEach(z=>{%>
      </tr>
        <td><%=z.id%></td>
        <td><%=z.name%></td>
        <td><%=z.email%></td>
        <td>
          <a class="btn btn-primary"href="/supervisor/assignProject/<%=z.id%>">Assign Project</a>
        </td>
        <td>
          <a class="btn btn-info"href="/supervisor/update/<%=z.id%>">EDIT</a>
          <a class="btn btn-danger"href="/supervisor/delete/<%=z.id%>">DELETE</a>
        </td>
      <tr>
      <%  })%>
      </tr>
    </table>
    <a class="btn btn-success"href="/supervisor/add">add</a>
    <a class="btn btn-danger"href="/">Home</a>
  </body>
</html>
